<h2>Two-Factor Authentication</h2>

<form method="post">
    <label>Authentication Code</label>
    <input name="code" class="form-control" />

    <button class="btn btn-primary mt-2">
        Verify
    </button>
</form>
